:root {
    --square-size: 15px;
    --square-gap: 5px;
    --week-width: calc(var(--square-size) + var(--square-gap));
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Nanum+Gothic+Coding|Playball&display=swap&subset=korean');

/* index */
body {
    margin: 0;
}

.background{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(325deg, #8ec5fc, #e0c3fc);
    position: absolute;
    left: 0;
    top: 0;
} 

.logo{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-top: 50px;
    margin-left: 121px;
}

.button{
    width: 130px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 6.6px 13.5px 50px 0 rgba(64, 21, 89, 0.2);
    background-color: #ffd800;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    position: absolute;
    right: 118px;
    top: 65px;
}

.button:hover {
    background-color: darkorange;
    cursor: pointer;
}

.title {
    width: 761px;
    height: 150px;
    font-family: Montserrat;
    font-size: 52px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 121px;
    margin-top: 150px;
    position: relative;
}


.index-image {
    width: 30%;
    object-fit: contain;
    position: absolute;
    right: 151px;
    top: 280px;
}

.title-bg {
    width: 798px;
    height: 303px;
    opacity: 0.2;
    font-family: Montserrat;
    font-size: 200px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 110px;
    top: 210px;
    position: absolute;
}

.mention {
    width: 661.8px;
    height: 48.3px;
    font-family: NanumSquare;
    font-size: 24px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 120px;
}

.mention-2{
    width: 661.8px;
    height: 48.3px;
    font-family: NanumSquare;
    font-size: 20px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 120px;
    margin-top: 60px;
}

/* jandi */
.months { grid-area: months; }
.days { grid-area: days; }
.squares { grid-area: squares; }

.graph {
    display: inline-grid;
    grid-template-areas: "empty months"
                            "days squares";
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
}

.months {
    display: grid;
    grid-template-columns: calc(var(--week-width) * 4) /* Jan */
                            calc(var(--week-width) * 4) /* Feb */
                            calc(var(--week-width) * 4) /* Mar */
                            calc(var(--week-width) * 5) /* Apr */
                            calc(var(--week-width) * 4) /* May */
                            calc(var(--week-width) * 4) /* Jun */
                            calc(var(--week-width) * 5) /* Jul */
                            calc(var(--week-width) * 4) /* Aug */
                            calc(var(--week-width) * 4) /* Sep */
                            calc(var(--week-width) * 5) /* Oct */
                            calc(var(--week-width) * 4)
                            calc(var(--week-width) * 5);
}

.days,
.squares {
    display: grid;
    grid-gap: var(--square-gap);
    grid-template-rows: repeat(7, var(--square-size));
}

.squares {
    grid-auto-flow: column;
    grid-auto-columns: var(--square-size);
}



body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
}

.graph {
    border: 1px #e1e4e8 solid;
    margin: 20px;
}

.days li:nth-child(odd) {
    visibility: hidden;
}

.squares li {
background-color: #ebedf0;
}

.squares li[data-level="1"] {
background-color: #c6e48b;
}

.squares li[data-level="2"] {
background-color: #7bc96f;
}

.squares li[data-level="3"] {
background-color: #196127;
}

li {
    list-style-type: none;
}